@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #35424a;
  --secondary-color: #e8491d;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --white-color: #ffffff;
  --grey-color: #ddd;
  --light-shadow: rgba(0, 0, 0, 0.1);
  --dark-shadow: rgba(0, 0, 0, 0.2);
  --lato-font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--lato-font);
  overflow-x: hidden;
}

header {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-color);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color);
}

main {
  font-family: var(--lato-font);
  background-color: var(--light-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--light-shadow);
}

h1 {
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.recent-reports h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 3.5rem;
  text-align: center;
}

.section {
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--light-shadow);
  margin-bottom: 2rem;
}

.summary,
.widget-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.widget,
.summary-card {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--light-shadow);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.widget h3,
.summary-card h3 {
  margin-top: 0;
  color: var(--secondary-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.widget p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-color);
  margin: 0.5rem 0;
}

/* Efecto hover en las cards */
.summary-card:hover {
  transform: translateY(-10px); /* Elevar ligeramente la card */
  box-shadow: 0 6px 10px var(--light-shadow); /* Aumentar la sombra */
  background-color: var(--secondary-color); /* Cambiar el color de fondo */
}

/* Animación de Fade In y Deslizar hacia arriba */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.summary-card {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Efecto de Fade-In para las cards */
.summary-card:nth-child(1) {
  animation-delay: 0.1s;
}

.summary-card:nth-child(2) {
  animation-delay: 0.2s;
}

.summary-card:nth-child(3) {
  animation-delay: 0.3s;
}

.summary-card:nth-child(4) {
  animation-delay: 0.4s;
}

/* Efecto de resplandor en hover */
.summary-card:hover h3 {
  color: var(--white-color); /* Cambiar el color del título */
}

.recent-reports {
  padding: 20px;
  text-align: center;
}

.recent-reports h2 {
  color: var(--dark-color);
  margin-bottom: 20px;
}

#recentReportsTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px var(--light-shadow);
}

#recentReportsTable thead {
  background-color: var(
    --secondary-color
  ); /* Color morado claro para el encabezado */
  color: var(--light-color); /* Texto en color claro */
}

#recentReportsTable th,
#recentReportsTable td {
  padding: 12px;
  text-align: left;
  border: 1px solid var(--dark-color); /* Borde color oscuro */
}

#recentReportsTable th {
  font-weight: bold;
}

#recentReportsTable tbody tr:nth-child(even) {
  background-color: var(
    --grey-color
  ); /* Color morado oscuro para las filas pares */
  color: var(--dark-color); /* Texto en color claro */
}

#recentReportsTable tbody tr:nth-child(odd) {
  background-color: var(--light-color); /* Color claro para las filas impares */
  color: var(--dark-color); /* Texto en color oscuro */
}

#recentReportsTable tbody tr:hover {
  background-color: var(
    --secondary-color
  ); /* Color verde oscuro para el hover */
  color: var(--light-color); /* Texto en color claro */
  cursor: pointer;
}

#recentReportsTable td .action-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

footer {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0 -4px 8px var(--dark-shadow);
}

footer p {
  margin: 0;
}
